.wrapper{
    height: 470px;
    width: 470px;
    margin: auto;
}

#Matchinggame{
width: 450px;
height: 450px;
position: relative;
margin: auto;
}
.header{
text-align: center;
font-size: 60px;
font-weight: 30px;
color: blueviolet;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url("assets/img/tree.png");
    background-color: peru;
    background-attachment: fixed;
}
.jumbotron{
    text-align: center;
    background-repeat: no-repeat;
    background-color: peru;
    opacity: 0.9;
    text-shadow: black 0.1em 0.1em 0.1em;
    margin: 25px 0;
    size: 100%;
    line-height: 1;
}

@media only screen and (max-width: 600px) {
  #Matchinggame{
     position: left;
     width: 375px;
     margin-left: 0px;
     padding:0px;
  }
}